<img src="../assets/landingpageBG.jpg" class="landingpageBG">

<div class="pageBody">

  <h1 class="title">
    GradeViz
  </h1>

  <h3 class="subtitle">
    Search Smarter, Not Harder
  </h3>

    <md-card class="search-card-department">
      <md-card-header>
        <md-card-title>Search by Department</md-card-title>
      </md-card-header>
      <md-card-content>
        <form>
          <md-form-field>
            <input mdInput placeholder="Department" aria-label="Department" [mdAutocomplete]="departmentAuto" [formControl]="departmentCtrl">
            <md-autocomplete #departmentAuto="mdAutocomplete" [displayWith]="displayDepartments">
              <md-option *ngFor="let department of filteredDepartments | async" [value]="department">
                <span>{{department.name}}</span> | 
                <span>{{department.number}}</span>
              </md-option>
            </md-autocomplete>
          </md-form-field>
        </form>
      </md-card-content>
    </md-card>

    <md-card class="search-card-course-name">
      <md-card-header>
        <md-card-title>Search by Class Name</md-card-title>
      </md-card-header>
      <md-card-content>
        <form>
          <md-form-field>
            <input mdInput placeholder="Course Name" aria-label="Course Name" [mdAutocomplete]="courseNameAuto" [formControl]="courseNameCtrl">
            <md-autocomplete #courseNameAuto="mdAutocomplete">
              <md-option *ngFor="let course of filteredCourses | async" [value]="course.name">
                <span>{{course.name}}</span>
              </md-option>
            </md-autocomplete>
          </md-form-field>
        </form>
      </md-card-content>
    </md-card>

  <button md-raised-button color="primary" (click)="search()" class="search-button">
    Search
  </button>

  <div class="example-container mat-elevation-z8">
    <md-table #table [dataSource]="courseDataSource">

      <ng-container mdColumnDef="id">
        <md-header-cell *mdHeaderCellDef> Course ID </md-header-cell>
        <md-cell *mdCellDef="let course"> {{course.DeptID}}.{{course.CourseID}} </md-cell>
      </ng-container>

      <ng-container mdColumnDef="name">
        <md-header-cell *mdHeaderCellDef> Name </md-header-cell>
        <md-cell *mdCellDef="let course"> {{course.Name}} </md-cell>
      </ng-container>

      <ng-container mdColumnDef="instructorName">
        <md-header-cell *mdHeaderCellDef> Instructor </md-header-cell>
        <md-cell *mdCellDef="let course"> {{course.Instructor}} </md-cell>
      </ng-container>

      <ng-container mdColumnDef="quality">
        <md-header-cell *mdHeaderCellDef> Quality </md-header-cell>
        <md-cell *mdCellDef="let course"> {{course.Quality}} </md-cell>
      </ng-container>

      <ng-container mdColumnDef="medianGrade">
        <md-header-cell *mdHeaderCellDef> Average Grade </md-header-cell>
        <md-cell *mdCellDef="let course"> {{course.Grade}} </md-cell>
      </ng-container>

      <md-header-row *mdHeaderRowDef="displayedColumns"></md-header-row>
      <md-row *mdRowDef="let row; columns: displayedColumns;"></md-row>
    </md-table>
  </div>
</div>

