.table-container {
  display: flex;
  flex-direction: column;
  min-width: 300px;
  margin-top: 5%;
}

.mat-table {
  overflow: auto;
}

.pageBody {
  position: relative;
}

img.landingpageBG {
  width: 100%;
  position: fixed;
}

.title {
  padding-top: 20%;
  text-align: center;
  margin: 0;
  color: white;
  font-family: Roboto;
  font-size: 72px;
}

.subtitle {
  font: 400 16px/28px Roboto,"Helvetica Neue",sans-serif;
  text-align: center;
  margin: 0;
  color: white;
}

.card-container {
  width: 100%;
}

.search-card-course-name {
  width: 30%;
  left: 10%;
  margin-top: 5%;
}
.search-card-department {
 float: right;
 width: 30%;
 right: 10%;
 margin-top: 5%;
}

.search-button {
  padding-top: 4.5%;
  text-align: center;
  margin: auto;
  color: white;
  font-size: 18px;
  font-family: Roboto;
}

.mat-form-field {
    width: 100%;
}

.topcorner{
  position:absolute;
  float: right;
  width: 10%;
  right: 10%;
  margin-top: 1%;
}

input[type="file"] {
	display: none;
}